{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - About{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>About Ultimate Warfare</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    Ultimate Warfare is an online multiplayer browser based strategy game where you compete with thousands of others for world domination.
                </p>
                <br />
                <br />

                <h3>Storyline</h3>
                <p>
                    In the year 1945, a catastrophic event has left the world in ruins, and the surviving nations are left to fight over the remaining resources. As a leader of a small nation, you must navigate through this new world and find a way to secure your nation's survival.
                </p>
                <p>
                    With limited resources and a growing population, you must use strategic planning and tactical warfare to expand your territory, secure vital resources, and defend against enemy attacks. Your enemies are fierce and determined to dominate the world, and you must be prepared to use all the tools at your disposal to stay ahead.
                </p>
                <p>
                    As you build your army and strengthen your infrastructure, you will encounter new challenges and obstacles. From natural disasters to enemy invasions, you must be prepared to adapt and respond quickly to whatever comes your way. You will need to use spy satellites to gather intel, send sniper teams to take out enemy leaders, and launch stealth bombers to destroy key infrastructure.
                </p>
                <p>
                    As you grow more powerful, you will need to make alliances with other nations to secure your position and prevent larger, more powerful nations from overpowering you. The world is constantly changing, and you must be prepared to change with it if you hope to achieve your ultimate goal of world domination.
                </p>
                <p>
                    The journey to conquer the world will not be easy, but with determination, strategic thinking, and a bit of luck, you can rise to the top and become the ultimate ruler of the world in Ultimate Warfare.
                </p>
                <br />
                <br />

                <h3>Who are we?</h3>
                <p>
                    This Game is designed, created and maintained by Frank Schreuder.
                </p>
                <p>
                    Would like to know more about me and my projects? Take a look at <a class="B" href="https://frankprojects.com">Frank Projects</a>.
                </p>
                <br />
                <br />

                <h3>Contact</h3>
                <p>
                    Use our <a class="B" href="{{ url('Site/Contact') }}">contact form</a> if you would like to contact us.
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
