{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Advertise{% endblock title %}

{% block content %}
    <fieldset>
        <legend>Advertising</legend>

        <p>
            Please <a class="B" href="{{ url('Site/Contact') }}">contact us</a> for information about advertising opportunities on ultimate-warfare.com
        </p>
    </fieldset>
{% endblock %}
