{% extends 'site.html.twig' %}
{% block content %}
    <fieldset>
        <legend>Advertising</legend>

        <div>
            <br />
            Please <a class="B" href="{{ url('Site/Contact') }}">contact us</a> for information about advertising opportunities on www.ultimate-warfare.com

        </div>

    </fieldset>
{% endblock %}
