{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Community{% endblock title %}

{% block content %}
    <fieldset>
        <legend>Community</legend>
        <p>
            Ultimate Warfare is a free and open-source online multiplayer browser based strategy game.
        </p>
        <p>
            <a class="btn btn-primary" href="https://github.com/FrankProjects/UltimateWarfare" title="Github">Check it out on github</a>
        </p>
    </fieldset>
{% endblock %}
