{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Community{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Community</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    Ultimate Warfare is a free and open-source online multiplayer browser based strategy game.
                </p>
                <p>
                    <a class="btn btn-primary" href="https://github.com/FrankProjects/UltimateWarfare" title="Github">Check it out on github</a>
                </p>

                <b>Support Ultimate-Warfare and make a Donation...</b>
                <p>
                    Ultimate-Warfare is and will always be free to play, but far from free to develop, run and maintain. Please consider supporting us with a donation.
                </p>
                <p>
                    Donations are currently accepted through Paypal.
                </p>
                <p>
                    <a href="https://www.paypal.me/frankschreuder"><img src="{{ asset('images/donate.gif') }}" alt="Donate" /></a>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
