{% extends 'site.html.twig' %}

{% block title %}
    Ultimate Warfare - Contact
{% endblock title %}

{% block content %}
<div align="left">
    <h1>Contact</h1>
    <p>
        I would like to hear what you think. Send me a message, whether it is praise or criticism, a question, a suggestion, or just a hello.
    </p>
</div>
{% endblock %}
