{% extends 'site.html.twig' %}

{% block title %}
    Ultimate Warfare - Contact
{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td><b>Contact</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    I would like to hear what you think. Send me a message, whether it is praise or criticism, a question, a suggestion, or just a hello.
                </p>

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </td>
        </tr>
    </table>
{% endblock %}
