{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Donate{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td><b>Support Ultimate-Warfare and make a Donation...</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    Ultimate-Warfare is and will always be free to play, but far from free to develop, run and maintain. Please consider supporting us with a donation.
                </p>
                <p>
                    Donations are currently accepted through Paypal.
                </p>
                <p>
                    <a href="https://www.paypal.me/frankschreuder"><img src="{{ asset('images/donate.gif') }}" alt="Donate" /></a>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
