{% extends 'base.html.twig' %}

{% block title %}
    Ultimate Warfare - Guide
{% endblock title %}

{% block body %}
    <tr>
        <td id="container_bar" class="text2">Navigation:<br />
            {% include 'site/guide/navigation.html.twig' %}
        </td>
        <td id="container_content" align="center" class="text">
            {% block content %}{% endblock %}
        </td>
    </tr>
{% endblock %}
