{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Hall of Fame{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="2"><b>Hall Of Fame</b></td>
        </tr>
        <tr>
            <td width="470"><b>World</b></td>
            <td width="230"><b>End Date</b></td>
        </tr>

        {% for gameWorld in history %}
            <tr>
                <td>
                    <a class="B" href="{{ path('Site/HallOfFameWorld', {'worldId': gameWorld.worldId }) }}"><b>{{ gameWorld.name }}</b></a>
                </td>
                <td>
                    {{ gameWorld.endDate|date }}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="2">No history...</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
