{% extends 'site.html.twig' %}

{% block title %}
    Ultimate Warfare - Hall of Fame
{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td colspan="3"><b>Hall Of Fame</b></td>
        </tr>
        <tr>
            <td width="70"><b>World</b></td>
            <td width="400"><b>Name</b></td>
            <td width="230"><b>End Date</b></td>
        </tr>

        {% for gameWorld in history %}
            <tr>
                <td>
                    {{ gameWorld.worldId }}
                </td>
                <td>
                    <a class="B" href="{{ path('Site/HallOfFameRound', {'worldId': gameWorld.worldId, 'round': gameWorld.round }) }}"><b>{{ gameWorld.name }}</b></a>
                </td>
                <td>
                    {{ gameWorld.endDate|date }}
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="3">No history...</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
