{% extends 'site.html.twig' %}
{% block content %}
    <fieldset>
        <legend>Username &amp; Password recovery</legend>

        <form class="general" method="post" action="{{ url('Site/ResetPassword') }}">
        <div>Enter your Email here, and we will send you a password recovery email with instructions on how to reset your password.</div>

        <br />
        <br />

        <div>
            <label for="email">Email:</label>
            <input type="text" size="64" id="email" name="email" />
        </div><br />

        <div class="submit"><input type="submit" value="Send email" /></div>
        </form>
    </fieldset>
{% endblock %}
