{% extends 'site.html.twig' %}

{% block title %}Ultimate Warfare - Lost password{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Username &amp; Password recovery</b></td>
        </tr>
        <tr>
            <td>
                <form class="general" method="post" action="{{ url('Site/ResetPassword') }}">
                <div>Enter your Email here, and we will send you a password recovery email with instructions on how to reset your password.</div>

                <br />
                <br />

                <div>
                    <label for="email">Email:</label>
                    <input type="text" size="64" id="email" name="email" />
                </div><br />
                    <input class="btn btn-primary" type="submit" value="Send email" />
                </form>
            </td>
        </tr>
    </table>
{% endblock %}
