{% extends 'site.html.twig' %}

{% block title %}
    Ultimate Warfare - Statistics
{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td><b>Ultimate Warfare Statistics</b></td>
        </tr>
        <tr>
            <td>
                Last Login:  {{ lastLogin|escape }}<br />
                Last Registered: {{ lastRegistered|escape }}<br />
                Total users: {{ totalUsers }}
            </td>
        </tr>
    </table>
{% endblock %}
