{% extends 'base.html.twig' %}

{% block body %}
    <tr>
        <td>
            <br />
            <table class="text table" border="1" width="600" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td class="tabletop"><b>Ultimate Warfare The Story</b></td>
                </tr>
                <tr>
                    <td>
                        Scientists from both countries knew what destructive damage the warhead was capable of, yet no one tried to stop them.
                        They were given the go ahead at every point and were never questioned.
                        However, each and every living soul involved in thesyphon project knew they would not survive...<br /><br />

                        America and Russia. Who knew the earth could be destroyed at the touch of a button? <br />
                        Both had tried to sneak thier warheads in from the back. The rockets were headed straight for eachother. The crash was unavoidable. <br />
                        The rockets smashed together with an massive crash.<br /><br />

                        The sound that followed was as loud as a jet plane missing your ear by an inch, it was loud enough to be heard on the other side of the earth. <br />
                        The shockwave that erupted out of the explosion engulfed the world in toxic radiation. Nothing on this earth survived, or so it was thought.<br /><br />

                        Just before the rockets smashed together, the main governments of America and Russia left Earth. Only just managing to keep alive. <br />
                        Each on thier own space shuttle they left in search of a new home. However, after five years of no luck, they returned home. <br />
                        Only to find that the Earth had been freed of its toxic revelation.<br /><br />

                        They both landed safely and started to rebuild the earth. This time there would be no projects. This war would be fought like men. <br />
                        The Earth was the playground, the war was the game.<br /><br />

                        {% if players is empty %}
                            <a class="B" href="{{ path('Game/SelectWorld') }}"><strong>Play</strong></a>
                        {% else %}
                            <a class="B" href="{{ path('Game/Login') }}"><strong>Play</strong></a>
                        {% endif %}
                    </td>
                </tr>
            </table>
            <br />
            <br />
        </td>
    </tr>
{% endblock %}
