{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - The Story{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr>
            <td class="tabletop"><b>Ultimate Warfare The Story</b></td>
        </tr>
        <tr>
            <td>
                The year was 1945. The earth was in a mess. The two main superpowers, America and Russia, had engaged in an massive war. <br />
                Though both knew that the war was only a cover up. America and Russia had both finally finished creating the ultimate weapon. <br />
                It was known as the 'Syphon Warhead'.<br /><br />

                <img src="{{ asset('images/story1.jpg') }}" width="400" height="300" alt="Syphon Warhead!" />

                <br />
                <br />

                <a class="btn btn-primary" href="{{ path('Game/Story/Chapter1', {'page': 2}) }}"><strong>Next>>></strong></a>
            </td>
        </tr>
    </table>
{% endblock %}
