doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

    orm:
        validate_xml_mapping: true
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        enable_native_lazy_objects: true
        mappings:
            FrankProjects\UltimateWarfare:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/config/doctrine'
                prefix: 'FrankProjects\UltimateWarfare\Entity'
        controller_resolver:
            auto_mapping: false