doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        mappings:
            FrankProjects\UltimateWarfare:
                is_bundle: false
                type: xml
                dir: '%kernel.project_dir%/config/doctrine'
                prefix: 'FrankProjects\UltimateWarfare\Entity'
