security:
    encoders:
        FrankProjects\UltimateWarfare\Entity\User:
            algorithm: bcrypt
            cost: 16

    role_hierarchy:
        ROLE_PLAYER:      ROLE_USER
        ROLE_MODERATOR:   ROLE_PLAYER
        ROLE_ADMIN:       ROLE_MODERATOR
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        frankprojects:
            entity:
                class: FrankProjects\UltimateWarfare\Entity\User
                property: username

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            pattern: ^/
            form_login:
                provider: frankprojects
                csrf_token_generator: security.csrf.token_manager
                default_target_path: /game/login
            logout:       true
            anonymous:    true

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/password, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/game, roles: ROLE_USER }
        - { path: ^/admin, role: ROLE_ADMIN }
