body {
    background: #ccbb99 !important;
}

.container { background: #f3e6c1;}

.navbar{ background:#443311 !important;}

.nav-link , .navbar-brand{ color: #f3e6c1; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #804000; }

.navbar-collapse{ justify-content: flex-end;}

.border-primary {
    border-color: #804000 !important;
}

main {
    padding:20px;
}

.table {
    background-color:#F8F4E8;
    margin-bottom:5px;
}

.uw-div {
    background-color:#F8F4E8;
    padding:5px;
    border:1px solid #cccc99;
}

.table td{
    padding:5px;
    border:1px solid #cccc99;
}

.tabletop {
    background-color:#EFE6C9;
    border:1px solid #804000;
    padding:5px;
}

.uw-div-top {
    background-color:#EFE6C9;
    padding:5px;
}

.text2 {
    font-size: 10pt;
    color: #f3e6c1;
}

.B:link {color: #804000; font-weight:bold;}
.B:visited {color: #804000; font-weight:bold;}
.B:hover {color: #0082BE; font-weight:bold;}
.A:link {color: #f3e6c1; font-weight:bold;}
.A:visited {color: #f3e6c1; font-weight:bold;}
.A:hover {color: #0082BE; font-weight:bold;}


hr {
    border: 0;
    background-color: #443311;
    height: 1px;
    width: 95%;
}

.worldtable {
    background-color:#F8F4E8;
    border:1px solid #804000;
    margin: 0 auto;
}

.worldtable td{
    border:1px solid #cccc99;
}

.pm_date {
    text-align:right;
    font-style:italic;
}

div.worldmaptext{
    position: absolute;
    color: #f3e6c1;
}

.good {
    color:#66DD00;
    font-weight:bold;
}

.bad {
    color:#FF2200;
}

.table-world-generator td{
    padding: 0;
    border: 0;
    line-height: 0.25;
}