{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Change Federation name{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Federation/ChangeName') }}" method="post">
        <table class="table text-center">
            <tr class="tabletop">
                <td><b>Change Federation Name</b></td>
            </tr>
            <tr>
                <td>
                    <div>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" name="submit" value="Change">
                    </div>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
