{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Change Federation name{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Federation/ChangeName') }}" method="post">
        <table class="table text-center">
            <tr class="tabletop">
                <td><b>Change Federation Name</b></td>
            </tr>
            <tr>
                <td> Please enter a Federation name.</td>
            </tr>
            <tr>
                <td><input type="text" size="25" name="name"></td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" name="submit" value="Change">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
