{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Create Federation
{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Federation/Create') }}" method="POST">
        <table width="700" border="1" cellspacing="0" cellpadding="0" align="center" class="table text">
            <tr>
                <td class="tabletop"><b>Create Federation</b></td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label for="name">Federation name:</label>
                        <input type="text" name="name" id="name" maxlength="25" value="{{ federationName }}" />
                    </div>
                    <input class="btn btn-primary" type="submit" name="submit" value="Create">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
