{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Federation
{% endblock title %}

{% block content %}
        <table width="700" border="1" align="center" class="table text">
            <tr>
                <td class="tabletop"><b>Federations disabled</b></td>
            </tr>
            <tr>
                <td>
                    Federations are disabled in this world!
                </td>
            </tr>
        </table>
{% endblock %}
