{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Leave Federation
{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Federation/Leave') }}" method="post">

        <table width="700" border="1" cellspacing="0" cellpadding="0" align="center" class="table text">
            <tr>
                <td class="tabletop"><b>Leave Federation</b></td>
            </tr>
            <tr>
                <td>
                    <br />Are you sure you want to do this?<br /><br />
                    <br />
                    <input type="submit" name="submit" value="Leave">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
