{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Federation news
{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr>
            <td class="tabletop" colspan="2"><b>Federation News</b></td>
        </tr>
        <tr>
            <td width="150"><b>Date</b></td>
            <td class="text-left" width="550"><b>Report</b></td>
        </tr>

        {% for federationNews in federationNews %}
            <tr>
                <td>
                    {{ federationNews.timestamp }}
                </td>
                <td class="text-left">
                    {{ federationNews.news }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No federation news yet...</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
