{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Federation{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr>
            <td class="tabletop" colspan="2"><b>Federations </b> </td>
        </tr>
        <tr>
            <td>
                <br />
                Join a Federation and help your Federation mates with building up their Empire, <br />protect eachother, and dominate the world!<br /><br />
                <a class="B" href="{{ path('Game/Federation/Join') }}"><b>Join a Federation</b></a><br />
                <a class="B" href="{{ path('Game/Federation/Create') }}"><b>Create a Federation</b></a>
                <br /><br />
            </td>
        </tr>
    </table>
{% endblock %}
