{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Federation{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr>
            <td class="tabletop" colspan="2"><b>Federations </b> </td>
        </tr>
        <tr>
            <td>
                <p>
                    Join a Federation and help your Federation mates with building up their Empire, protect each other, and dominate the world!
                </p>
                <p>
                    <a class="btn btn-primary" href="{{ path('Game/Federation/Join') }}">Join a Federation</a>
                </p>
                <p>
                    <a class="btn btn-primary" href="{{ path('Game/Federation/Create') }}">Create a Federation</a>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
