{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Change Federation name{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Federation/Remove') }}" method="post">
        <table class="table text-center">
            <tr class="tabletop">
                <td><b>Delete Federation</b></td>
            </tr>
            <tr>
                <td>
                    <p>
                        Are you sure you want to do this?
                    </p>
                    <input class="btn btn-primary" type="submit" name="submit" value="Delete">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
