{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Apply for federation{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Federation/Application/Send', {'federationId': federation.id}) }}" method="post">
        <table class="table text-center">
            <tr>
                <td class="tabletop"><b>Join a Federation</b></td>
            </tr>
            <tr>
                <td>
                    Send your application here!
                </td>
            </tr>
            <tr>
                <td><textarea name="application" rows="9" cols="50"></textarea></td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" name="submit" value="Send application">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
