{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Update leadership message{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Federation/UpdateLeadershipMessage') }}" method="post">
        <table class="table text-center">
            <tr>
                <td class="tabletop" colspan="2"><b> Leader message update</b></td>
            </tr>
            <tr>
                <td>Make a new Leader message here!</td>
            </tr>
            <tr>
                <td><textarea name="message" rows="9" cols="50">{{ player.federation.leaderMessage }}</textarea></td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" name="submit" value="Update message">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
