{% extends 'admin.html.twig' %}

{% block title %}ADMIN - Dashboard{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr>
            <td class="tabletop" colspan="7"><b>Dashboard</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    Total users: <span class="badge badge-primary">{{ userCount }}</span>
                </p>
                <p>
                    Users active in last 24 hours: <span class="badge badge-primary">{{ loggedInCount }}</span>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
