{% extends 'admin.html.twig' %}

{% block title %}ADMIN - Dashboard{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="7"><b>Dashboard</b></td>
        </tr>
        <tr>
            <td>
                <p>
                    Total users: <span class="badge bg-primary">{{ userCount }}</span>
                </p>
                <p>
                    Users active in last 24 hours: <span class="badge bg-primary">{{ loggedInCount }}</span>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
