{% extends 'admin.html.twig' %}

{% block title %}ADMIN - GameUnit{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="5"><b>Edit GameUnit</b></td>
        </tr>
        <tr>
            <td>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </td>
        </tr>
    </table>
{% endblock %}
