{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - Account banned{% endblock title %}

{% block content %}
    <form action="{{ path('Game/Banned') }}" method="post">
        <table class="table text-center">
            <tr>
                <td class="tabletop"><b>Banned account recovery</b></td>
            </tr>
            <tr>
                <td>
                    Your account have been banned! You are banned because you did something against the rules. To regain access to your account explain below why you did something against the rules...<br /><br /> We will try to take a look at your banned account recovery request as soon as possible.. If this was a mistake, we apology for this!
                    <br />
                    <br />

                    <textarea name="post" rows="9" cols="80">{{ unbanRequest.post }}</textarea>

                    <br />
                    <br />

                    <input class="btn btn-primary" type="submit" name="submit" value="Send recovery request">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
