{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Notepad{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Notepad</b></td>
        </tr>
        <tr>
            <td>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </td>
        </tr>
    </table>
{% endblock %}
