{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Notepad
{% endblock title %}

{% block content %}
    <table border="1" cellspacing="0" cellpadding="0" width="700" class="table text">
        <tr>
            <td class="tabletop" width="700" align="center"><b>Notepad</b></td>
        </tr>
        <tr>
            <td align="center">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </td>
        </tr>
    </table>
{% endblock %}
