{% extends 'game.html.twig' %}
{% block content %}
    <br />
    <br />

    <table width="700" border="1" cellspacing="0" cellpadding="0" class="table text">
        <tr>
            <td align="center">
                <br />
                Region already has an owner!
                <br />
                <br />
            </td>
        </tr>
    </table>
    <br />
{% endblock %}
