{% extends 'game.html.twig' %}
{% block content %}
    <table class="table text-center">
        <tr>
            <td>
                <p>
                    Region already has an owner!
                </p>
            </td>
        </tr>
    </table>
    <br />
{% endblock %}
