{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - World Map
{% endblock title %}

{% block content %}
    <br />
    <br />

    <table width="700" border="1" class="table text">
        <tr>
            <td align="center">
                <br />
                Sector not found!
                <br />
                <br />
            </td>
        </tr>
    </table>
    <br />
{% endblock %}
