{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - World Map{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr>
            <td>
                <p>
                    Sector not found!
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
