{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Surrender{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Surrender</b></td>
        </tr>
        <tr>
            <td>
                {% if canSurrender == true %}
                    You really want to surrender your empire?
                    <br />
                    <br />

                    <div>
                        <b>Confirm Password</b>
                        <br />
                        Enter your password to officially delete your account from this world!<br />
                        <b>Warning:</b> This can't be undone!
                    </div>

                    <br />
                    <br />

                    {{ form_start(confirmPasswordForm) }}
                    {{ form_row(confirmPasswordForm.plainPassword) }}
                    <input class="btn btn-primary" type="submit" name="submit" value="Surrender" />
                    {{ form_end(confirmPasswordForm) }}
                {% else %}
                    You can not surrender for the first 48 Hours!
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
