<table width="600" border="1" cellspacing="0" cellpadding="0" class="table text">
    <tr>
        <td align="center">
            <br />
            <b>This world is updating itself right now.</b><br />
            try again in a few seconds!<br /><br />
        </td>
    </tr>
</table>
