<table class="table text-center">
    <tr>
        <td>
            <p>
                <b>This world is updating itself right now.</b>
            </p>
            <p>
                try again in a few seconds!
            </p>
        </td>
    </tr>
</table>
