{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="4"><b>Construction</b></td>
        </tr>
        <tr class="tabletop">
            <td width="350" colspan="2"><b>Building construction summary</b></td>
            <td width="350" colspan="2"><b>Unit construction summary</b></td>
        </tr>
        <tr>
            <td width="200"> Economic Centers:</td>
            <td width="150">0</td>
            <td width="200"> Soldiers:</td>
            <td width="150">0</td>
        </tr>
        <tr>
            <td width="200"> Farms:</td>
            <td width="150">0</td>
            <td width="200"> Tanks:</td>
            <td width="150">0</td>
        </tr>
        <tr>
            <td width="200"> Mines:</td>
            <td width="150">0</td>
            <td width="200"> Planes:</td>
            <td width="150">0</td>
        </tr>
        <tr>
            <td width="200"> Woodcutters:</td>
            <td width="150">0</td>
            <td width="200"> Ships:</td>
            <td width="150">0</td>
        </tr>
        <tr>
            <td width="200">Houses:</td>
            <td width="150">0</td>
            <td width="200"> Mine Sweepers:</td>
            <td width="150">0</td>
        </tr>
        <tr class="tabletop">
            <td width="350" colspan="2"><b>Special building construction summary</b></td>
            <td width="350" colspan="2"><b>Defensive buildings construction summary</b></td>
        </tr>
        <tr>
            <td width="200"> Airfields:</td>
            <td width="150">0</td>
            <td width="200"> Sea Mines:</td>
            <td width="150">0</td>
        </tr>
        <tr>
            <td width="200"> Harbors:</td>
            <td width="150">0</td>
            <td width="200"> Land Mines:</td>
            <td width="150">0</td>
        </tr>
        <tr>
            <td width="200"> Train Stations:</td>
            <td width="150">0</td>
            <td width="200"> Bunkers:</td>
            <td width="150">0</td>
        </tr>
        <tr>
            <td width="200"></td>
            <td width="150"></td>
            <td width="150"> Anti Air Missiles:</td>
            <td width="150">0</td>
        </tr>
    </table>

    <br/>
    <br/>

    <table class="table text-start">
        <tr>
            <td>
                <p>
                    This is your constuction page, you will see a full list of things that are under construction at the
                    present time. By clicking on a link you will see more accurate information about the constructions.
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
