{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table width="700" class="table text">
        <tr>
            <td><br />
                    First time you will get two options here, you can join a federation or create a federation yourself. You should consider joining or creating a federation because a federation can help you out in hard times, you can send aid to each other and much more!<br />
            </td>
        </tr>
    </table>

    <br />
    <br />

    <table width="700" class="table text">
        <tr>
            <td><br />
                    Some options explained here:<br />
                <ul>
                    <li>
                        <b>Leader message:</b>Message from the federation owner.<br />
                    </li>
                    <li>
                        <b>Federation list:</b> A list of all federations in this world.
                    </li>
                    <li>
                        <b>Federation news:</b> A list of all activity in your federation, like attacks made by your federation members, or made against them, but also aid shipments and more.
                    </li>
                    <li>
                        <b>Send Aid:</b> Send resources to federation members and help them out.
                    </li>
                    <li>
                        <b>Federation Forum:</b>A private forum that is only visible for people from your federation.
                    </li>
                    <li>
                        <b>Leave federation:</b> Bored with your federation or looking for new mates? Quit this federation and look for another one.
                    </li>
                    <li>
                        <b>Federation Bank:</b>Store cash and resources and get a 0,5% interrest on the cash that's in the federation bank, everybody from your federation can take out cash from the federation bank so make sure you trust everybody before putting everything on it.
                    </li>
                    <li>
                        <b>Change Federation Picture:</b>Set a new federation picture here, ONLY for federation leaders.
                    </li>
                    <li>
                        <b>Change Federation Name:</b>Set a new federation name here, ONLY for federation leaders.
                    </li>
                    <li>
                        <b>Change Leader message:</b>Set a leader message here and give your federation members easy instructions, ONLY for federation leaders.
                    </li>
                    <li>
                        <b>Disband Federation:</b>Delete this federation, ONLY for federation leaders.
                    </li>
                    <li>
                        <b>Applications:</b>If somebody wants to join your federation, he can send an application form, this will appear in here. Accept or deny new members.
                    </li>
                    <li>
                        <b>Kick:</b>Kick somebody from this federation, ONLY for federation leaders.
                    </li>
                    <li>
                        <b>Online/Offline:</b>Check out if somebody was online in the last hour.
                    </li>
                </ul>

            </td>
        </tr>
    </table>

    <br />
    <br />

    <table width="700" class="table text">
        <tr>
            <td><br />
                Federation Ranks explained here:<br />

                <ul>
                    <li>
                        <b>General:</b>federation leader.<br />
                    </li>
                    Only one player can be a General, this is the Federation leader. A General has full control over the Federation<br /><br />

                    Can do:<br />
                    - See Federation news<br />
                    - Donate to AND Withdraw from Federation Bank<br />
                    - Send aid to Federation members<br />
                    - Use the Federation Forum<br />
                    - Give players other ranks<br />
                    - Change Federation picture<br />
                    - Change Federation name<br />
                    - Change Leader message<br />
                    - Disband Federation<br />
                    - Moderate Federation forum (including edit/delete/sticky)<br />
                    - Accept new players<br />
                    - Give away leadership<br />
                    - Kick players<br /><br />

                    <li>
                        <b>Staff General:</b>
                    </li>
                    Same as Colonel, but with Federation Forum moderate features (edit/delete/sticky)<br /><br />
                    <li>
                        <b>Lieutenant General:</b>
                    </li>
                    Same as Colonel, but with Federation Forum moderate features (edit/delete/sticky)<br /><br />
                    <li>
                        <b>Major General:</b>
                    </li>
                    Same as Colonel<br /><br />
                    <li>
                        <b>Brigadier General:</b>
                    </li>
                    Same as Colonel<br /><br />
                    <li>
                        <b>Colonel:</b>
                    </li>
                    Colonel has Federation Bank permissions.<br /><br />
                    You can not:<br />
                    - Change Federation Settings<br />
                    - Accept new members

                    <br />
                    <br />
                    Can do:<br />
                    - See Federation news<br />
                    - Donate to AND Withdraw from Federation Bank<br />
                    - Send aid to Federation members<br />
                    - Use the Federation Forum<br /><br />

                    <li>
                        <b>Major:</b>
                    </li>
                    Same as Recruit, but also have acces to the Federation Forum.<br /><br />
                    <li>
                        <b>Captain:</b>
                    </li>
                    Same as Recruit, but also have acces to the Federation Forum.<br /><br />
                    <li>
                        <b>Sergeant:</b>
                    </li>
                    Same as Recruit, but also have acces to the Federation Forum.<br /><br />
                    <li>
                        <b>Recruit:</b>
                    </li>
                    This is the first rank you get as soon as you join a Federation. This rank has no privileges.<br /><br />
                    You can not:<br />
                    - Read federation forum<br />
                    - Take anything from the Federation Bank<br />
                    - Change Federation Settings<br />
                    - Accept new members

                    <br />
                    <br />
                    Can do:<br />
                    - See Federation news<br />
                    - Donate to Federation Bank<br />
                    - Send aid to Federation members
                    </ul>

            </td>
        </tr>
    </table>
{% endblock %}
