{% extends 'site/guideBase.html.twig' %}

{% block content %}
    <table class="table text text-center">
        <tr class="tabletop">
            <td><b>Ultimate-Warfare Guide</b></td>
        </tr>
        <tr>
            <td>
                <br />
                Hello there. Welcome to the ultimate-warfare guide. If there is anything you need to find out, this is the place to do so :)
                <br />
                <br />
            </td>
        </tr>
    </table>
{% endblock %}
