{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table">
        <tr>
            <td><br />
                Hmm logout... <br />
                Not really sure what this option does :s
            </td>
        </tr>
    </table>
{% endblock %}
