{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table width="700" border="1" cellspacing="0" cellpadding="0" class="table text">
        <tr>
            <td><br />
                Hmm logout... <br />
                Not really sure what this option does :s
            </td>
        </tr>
    </table>
{% endblock %}
