{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table width="700" border="1" class="table text">
        <tr>
            <td><br />
                    This is a new type of market system, you can place sell and buy offers on the market or check out the buy and sell market if there are already cheap and interresting offers on the market. <br /><br />
                    The "Your offers" option allows you to cancal your offers that you posted earlier.

                <ul>

                    <li>
                        <b>Buy:</b>Check out if there are interresting offers out there<br />
                    </li>
                    <li>
                        <b>Sell:</b> Maybe you got too many resources and would like to trade them? You can sell them instantly here if somebody is looking for it right now.
                    </li>
                    <li>
                        <b>Place buy offer:</b> You are looking for resources but they are not on the market? Place your buy offer here.
                    </li>
                    <li>
                        <b>Place sell offer:</b> You have too many resources and nobody is looking for it right now? place an offer and you will sell it soon.
                    </li>
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}
