{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table">
        <tr>
            <td>
                You can buy from and sell to other players on the market.<br />
                The "Your orders" allows you to cancel your market orders.
                <br />
                <br />
                <ul>

                    <li>
                        <b>Buy:</b> Instantly buy resources from another player.
                    </li>
                    <li>
                        <b>Sell:</b> Instantly sell resources to another player.
                    </li>
                    <li>
                        <b>Buy order:</b> You are looking for resources, but they are not on the market? Place a new buy order.
                    </li>
                    <li>
                        <b>Sell order:</b> You have too many resources? Place a sell order and you will sell it soon.
                    </li>
                </ul>
            </td>
        </tr>
    </table>
{% endblock %}
