{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td colspan="4"><b>Top Rankings by regions</b></td>
        </tr>
        <tr>
            <td width="50"><b>Rank</b></td>
            <td width="250"><b>Player</b></td>
            <td width="200"><b>Regions</b></td>
            <td width="200"><b>NetWorth</b></td>
        </tr>
        <tr>
            <td width="50">1</td>
            <td width="250">Blizzard <i>(Federation name)</i></td>
            <td>15</td>
            <td>435843</td>
        </tr>
        <tr>
            <td width="50">2</td>
            <td width="250">Keerb</td>
            <td>14</td>
            <td>282928</td>
        </tr>
        <tr>
            <td width="50">3</td>
            <td width="250">frank</td>
            <td>6</td>
            <td>93932</td>
        </tr>
    </table>

    <br />
    <br />

    <table class="table text-start">
        <tr>
            <td><br />
                You will see the rankings in your world here, check out who has the biggest empire and who to be afraid for! =D <br /><br />
                I think no more explaination is needed on this.
            </td>
        </tr>
    </table>
{% endblock %}
