{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table width="700" border="1" cellspacing="0" cellpadding="0" class="table text">
        <tr>
            <td class="tabletop" colspan="4"><b>Top Rankings by regions</b></td>
        </tr>
        <tr>
            <td width="50" align="center"><b>Rank</b></td>
            <td width="250" align="left"><b>Player</b></td>
            <td width="200" align="center"><b>Regions</b></td>
            <td width="200" align="center"><b>Networth</b></td>
        </tr>
        <tr>
            <td width="50" align="center">1</td>
            <td width="250" align="left">Blizzard <i>(Federation name)</i></td>
            <td align="center">15</td>
            <td align="center">435843</td>
        </tr>
        <tr>
            <td width="50" align="center">2</td>
            <td width="250" align="left">Keerb</td>
            <td align="center">14</td>
            <td align="center">282928</td>
        </tr>
        <tr>
            <td width="50" align="center">3</td>
            <td width="250" align="left">frank</td>
            <td align="center">6</td>
            <td align="center">93932</td>
        </tr>
    </table>

    <br />
    <br />

    <table width="700" border="1" cellspacing="0" cellpadding="0" class="table text">
        <tr>
            <td><br />
                You will see the rankings in your world here, check out who has the biggest empire and who to be afraid for! =D <br /><br />
                I think no more explaination is needed on this.
            </td>
        </tr>
    </table>
{% endblock %}
