{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table width="700" border="1" cellspacing="0" cellpadding="0" class="table text">
        <tr>
            <td class="tabletop" width="700" align="center" colspan="2"><b>All reports</b></td>
        </tr>
        <tr>
            <td width="150" align="center"><b>Date</b></td>
            <td width="550" align="left"><b>Report</b></td>
        </tr>
        <tr>
            <td align="center">
                2/09/11 23:16:12</td><td align="left">You completed 200 Tank(s) at region 16, 17: 7
            </td>
        </tr>
        <tr>
            <td align="center">
                2/09/11 23:11:21</td><td align="left">You completed 55 Tank(s) at region 16, 17: 7
            </td>
        </tr>
        <tr>
            <td align="center">
                2/09/11 22:27:12</td><td align="left">You have researched Research Level 2.
            </td>
        </tr>
    </table>

    <br />
    <br />

    <table width="700" border="1" cellspacing="0" cellpadding="0" class="table text">
        <tr>
            <td><br />
                This is your report page, you can find all kind of reports in here. Up here you will see an example report.<br />

                <ul>
                    <li>
                        <b>Date:</b> This is the ingame time when the report was created.<br />
                    </li>
                    <li>
                        <b>Report:</b> This is the meaning of the report. It can be a defence report, but also aid, market and more.
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    <br />
    <br />
{% endblock %}
