{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table">
        <tr>
            <td><br />
                You can use this research system to research new technological advancements to your empire.<br />
                <br />
                <b>Note:</b> You need to activate a research with the "researching" link before the research takes effect!
                <br />
            </td>
        </tr>
    </table>
{% endblock %}
