{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Ultimate-Warfare - Rules</b></td>
        </tr>
        <tr>
            <td class="text-left">
                The Rules<br />
                <ul>
                    <li>
                        Any form of cheating is strictly forbidden and a temporary ban will be the result.
                    </li>
                    <li>
                        Offensive language will not be tolerated and a forum ban or a Ban will Occur (depends on how serious).
                    </li>
                    <li>
                        Multiple account will result in an instant ban.
                    </li>
                    <li>
                        Proxy sites are not allowed.
                    </li>
                    <li>
                        Anyone caught hacking; the result will be an instant ban and you internet service provider will be notified.
                    </li>
                </ul>

                As a team we still reserve the right to ban/delete/modify/investigate any account at any time. <br />
                As part of the team we will try to maintain high standards and will treat each incident as fairly as possible.<br /><br />
                Thanks<br />
                ~ Frank
            </td>
        </tr>
    </table>
{% endblock %}
