{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table text" width="700" cellspacing="0" cellpadding="0" border="1" align="center">
        <tr class="tabletop">
            <td align="center"><b>Ultimate-Warfare - Rules</b></td>
        </tr>
        <tr>
            <td align="left">

                The Rules<br />
                [] Any form of cheating is strictly forbidden and a temporary ban will be the result.<br />
                [] Offensive language will not be tolerated and a forum ban or a Ban will Occur (depends on how serious).<br />
                [] Multiple account will result in an instant ban.<br />
                [] Proxy sites are not allowed.<br />
                [] Anyone caught hacking; the result will be an instant ban and you internet service provider will be notified.<br /><br />
                As a team we still reserve the right to ban/delete/modify/investigate any account at any time. <br />
                As part of the team we will try to maintain high standards and will treat each incident as fairly as possible.<br /><br />
                Thanks<br />
                ~ Frank
            </td>
        </tr>
    </table>
{% endblock %}
