{% extends 'site/guideBase.html.twig' %}

{% block content %}
    <table class="table text" width="700" cellspacing="0" cellpadding="0" border="1" align="center">
        <tr class="tabletop">
            <td align="center"><b>Select Unit Type</b></td>
        </tr>
        <tr>
            <td align="center">
                {% for gameUnitType in gameUnitTypes %}
                    <a href="{{ path('Guide/ListUnits', {'gameUnitTypeId': gameUnitType.id}) }}" class="B">{{ gameUnitType.name }}</a><br />
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
