{% extends 'site/guideBase.html.twig' %}

{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Select Unit Type</b></td>
        </tr>
        <tr>
            <td>
                {% for gameUnitType in gameUnitTypes %}
                    <a href="{{ path('Guide/ListUnits', {'gameUnitTypeId': gameUnitType.id}) }}" class="B">{{ gameUnitType.name }}</a><br />
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
