{% extends 'site/guideBase.html.twig' %}
{% block content %}
    <table class="table text-center">
        <tr class="tabletop">
            <td><b>Surrender</b></td>
        </tr>
        <tr>
            <td>
                You really want to surrender your empire?<br />
                You can't surrender for the first 48 Hours!<br />
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-primary" type="submit" value="Surrender" />
            </td>
        </tr>
    </table>

    <br />
    <br />

    <table class="table text-start">
        <tr>
            <td><br />
                Here you can surrender your empire, If you surrender you will be deleted from this world and there is no way we can undo this process. So think about it before you click surrender.<br /><br />

                This option is usefull if you want to restart the game because you have made a mistake, or if you would just like to try a different race or playing-style
            </td>
        </tr>
    </table>
{% endblock %}
