{% extends 'game.html.twig' %}

{% block title %}
    Ultimate Warfare - Market
{% endblock title %}

{% block content %}
    <table width="700" border="1" cellspacing="0" cellpadding="0" align="center" class="table text">
        <tr>
            <td class="tabletop"><b>Market disabled</b></td>
        </tr>
        <tr>
            <td>
                Market is disabled in this world!
            </td>
        </tr>
    </table>
{% endblock %}
