{% extends 'game.html.twig' %}

{% block title %}Ultimate Warfare - Market{% endblock title %}

{% block content %}
    <table class="table text text-center">
        <tr>
            <td class="tabletop"><b>Market disabled</b></td>
        </tr>
        <tr>
            <td>
                Market is disabled in this world!
            </td>
        </tr>
    </table>
{% endblock %}
