{% for msg in app.flashes('success') %}
    <div class="alert alert-success fade show" role="alert">
        {{ msg }}
    </div>
{% endfor %}

{% for msg in app.flashes('error') %}
    <div class="alert alert-danger fade show" role="alert">
        {{ msg }}
    </div>
{% endfor %}