{% for msg in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
    </div>
{% endfor %}

{% for msg in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>
{% endfor %}