{% extends 'base.html.twig' %}

{% block body %}
    <main class="col-sm-12 justify-content-center">
        <table class="table text">
            <tr class="tabletop">
                <td class="text-center"><b>Internal Server Error</b></td>
            </tr>
            <tr>
                <td class="text-center">
                    <p>
                        The server encountered an error and could not complete your request.
                    </p>
                    <p>
                        If the problem persists, please report your problem on the forum and mention this error message and the query that caused it.
                    </p>
                </td>
            </tr>
        </table>
    </main>
{% endblock %}