{% extends 'base.html.twig' %}

{% block body %}
    <main class="col-sm-12 justify-content-center">
        <table class="table text">
            <tr class="tabletop">
                <td class="text-center"><b>Unknown Error</b></td>
            </tr>
            <tr>
                <td class="text-center">
                    Unknown error occurred, please try again later...
                </td>
            </tr>
        </table>
    </main>
{% endblock %}