FrankProjects\UltimateWarfare\Entity\Research:
    type: entity
    repositoryClass: FrankProjects\UltimateWarfare\Repository\ResearchRepository
    table: research
    id:
        id:
            type: integer
            nullable: false
            options:
                unsigned: false
            id: true
            generator:
                strategy: IDENTITY
    fields:
        name:
            type: string
            nullable: false
            length: 100
            options:
                fixed: false
        pic:
            type: string
            nullable: false
            length: 100
            options:
                fixed: false
        cost:
            type: integer
            nullable: false
            options:
                unsigned: false
        timestamp:
            type: integer
            nullable: false
            options:
                unsigned: true
        description:
            type: text
            nullable: false
            length: 255
            options:
                fixed: false
        active:
            type: boolean
            nullable: false
            options:
                default: '0'
    oneToMany:
        researchPlayers:
            targetEntity: ResearchPlayer
            mappedBy: research
        researchNeeds:
            targetEntity: ResearchNeeds
            mappedBy: research
        requiredResearch:
            targetEntity: ResearchNeeds
            mappedBy: requiredResearch
    lifecycleCallbacks: {  }
