{% extends 'noBarBase.html.twig' %}

{% block title %}Ultimate Warfare - Forum disabled{% endblock title %}

{% block content %}
    <table class="table text-center">
        <tr>
            <td>
                <p>
                    Forum is disabled!
                </p>
            </td>
        </tr>
    </table>
{% endblock %}
